#basic
bind 0.0.0.0
port {{ redis_port }}
daemonize yes
pidfile {{ piddir }}/redis.pid
logfile {{ logdir }}/redis.log
masterauth {{ redis_password }}
requirepass {{ redis_password }}
protected-mode no
databases 256

#tcp&connection
tcp-backlog 8192
tcp-keepalive 60
maxclients 50000
timeout 0

#memory
maxmemory {{ ansible_memtotal_mb / 1024 * 3 // 4 }}gb
maxmemory-policy volatile-lru

#lazyfree
lazyfree-lazy-expire yes
lazyfree-lazy-server-del yes

#slowlog
slowlog-max-len 1024
slowlog-log-slower-than 10000

#repl
#replicaof {{ master_hostname }} {{ master_port }}
repl-diskless-sync no
repl-diskless-sync-delay 5
replica-read-only yes
min-replicas-to-write 1
min-replicas-max-lag 3
latency-monitor-threshold 100


#cluster
#cluster-enabled yes
#cluster-config-file nodes.conf
#cluster-node-timeout 5000
#cluster-require-full-coverage no

#aof
appendonly yes
appendfsync everysec
appendfilename "appendonly.aof"
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 2gb
no-appendfsync-on-rewrite no

#rdb
dbfilename redis.rdb
rdbcompression yes
rdbchecksum yes
stop-writes-on-bgsave-error no
dir {{ datadir }}